.card {
  @include flexContainer(row, center, center);

  width: 18rem;
  height: 15rem;
  margin: 2rem auto;

  .title{
    width:55%;
    margin: 1rem;
  }

  &:hover {
    width:19rem;
    height: 16rem;
    margin:1rem auto;
  }

  .image{

    @include flexContainer(row, center, center);
    background-color: $base;
    width:45%;
    height:inherit;
    overflow: hidden;
  }

  img{
    height: inherit;
  }
}