
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Zilla+Slab:wght@300;400&display=swap');
$base: #FFF;

$primary-uno: #073B3A;
$primary-dos: #0B6E4F;
$primary-tres: #08A045;
$primary-accent: #FFD23F;

$secondary-uno: #D6DEDE;
$secondary-dos: #AECFC4;
$secondary-tres: #ADDFC1;
$secondary-accent: #FFF0BF;

$font-uno: 'PT Sans', sans-serif;
$font-dos: 'Zilla Slab', serif;